<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oss</key>
	<dict>
		<key>endpoint</key>
		<string>https://oss-cn-shanghai.aliyuncs.com</string>
		<key>authUrl</key>
		<string>https://prodjava.dingbaox.com/api/oss/getAppOssSTSToken</string>
		<key>bucketName</key>
		<string>dbx-assets</string>
	</dict>
	<key>base</key>
	<dict>
		<key>titleColor</key>
		<string>0xffffff</string>
		<key>titleFont</key>
		<string>17.0</string>
		<key>navBackColor</key>
		<string>0x0B297E</string>
		<key>backColor</key>
		<string>0xf6f7fa</string>
		<key>translucent</key>
		<false/>
		<key>backImageName</key>
		<string>back</string>
		<key>unlink</key>
		<string>https://dingbaox.com/app</string>
	</dict>
	<key>tabbar</key>
	<array>
		<dict>
			<key>name</key>
			<string>首页</string>
			<key>imageRes</key>
			<string></string>
			<key>imageResSelected</key>
			<string></string>
			<key>textColorRes</key>
			<string>0x8f8f8f</string>
			<key>textColorResSelected</key>
			<string>0x32B8EC</string>
			<key>isSelected</key>
			<true/>
			<key>url</key>
			<string>http://192.168.123.80:8080</string>
		</dict>
		<dict>
			<key>name</key>
			<string>登陆</string>
			<key>imageRes</key>
			<string>study</string>
			<key>imageResSelected</key>
			<string>study_h</string>
			<key>textColorRes</key>
			<string>0x8f8f8f</string>
			<key>textColorResSelected</key>
			<string>0x32B8EC</string>
			<key>isSelected</key>
			<false/>
			<key>url</key>
			<string>http://192.168.123.80:8080/login</string>
		</dict>
		<dict>
			<key>name</key>
			<string>我的</string>
			<key>imageRes</key>
			<string>tab_user</string>
			<key>imageResSelected</key>
			<string>tab_user_h</string>
			<key>textColorRes</key>
			<string>0x8f8f8f</string>
			<key>textColorResSelected</key>
			<string>0x32B8EC</string>
			<key>isSelected</key>
			<false/>
			<key>url</key>
			<string>http://192.168.123.80:8080/profile</string>
		</dict>
		<dict>
			<key>name</key>
			<string>原生</string>
			<key>imageRes</key>
			<string>tab_user</string>
			<key>imageResSelected</key>
			<string>tab_user_h</string>
			<key>textColorRes</key>
			<string>0x8f8f8f</string>
			<key>textColorResSelected</key>
			<string>0x32B8EC</string>
			<key>isSelected</key>
			<false/>
			<key>className</key>
			<string>ViewController</string>
		</dict>
	</array>
</dict>
</plist>
